#edodatki_widget_contact {
    width: 300px;
    position: relative;
    margin: auto;
}

#edodatki_widget_contact a {
    position: absolute;
    bottom: 5px;
    left: 8px;
    font: normal 12px/12px Arial;
    background: transparent;
    height: auto;
    text-decoration: none;
}

#edodatki_widget_contact a.pin {
    right: 10px;
    top: 7px;
    left: auto;
    width: 12px;
    height: 17px;
    background: transparent url(logo.png) no-repeat 0 0;
    text-indent: -9999px;
    outline: 0;
}